In [1]:
print ("Hello World");

Hello World

In [3]:
a = 5;
b = 10;
c = a + b;
print (c)

15

In [5]:
x = "Asad";
y = " Suleman";
x = x + y;
print (x);

Asad Suleman

In [7]:
f = "8";
g = "15";
h = f + g;
print (h);

815

In [9]:
a = "50";
b = "40";
c = a + b;
print (c);

5040

In [10]:
x = 8;
y = x + 40;
z = y - x + 30;
print (z);

70

In [11]:
a = 24 - 8 / 4 + 5 * 20;
print (a);

122.0

In [13]:
a = 12 - 4 / 2 + 9 * 5;
print (a);

55.0

In [14]:
a = ((12 - 4) / (2 + 9) * 5);
print (a);

3.6363636363636367

In [17]:
x = 10;
y = x%3;
print (y);

1

In [18]:
f = 30;
f = 10;
print (f);

10

In [19]:
g = 15;
g = g + 2;
print (g);

17

In [20]:
a = 25; 
a+= 3;
print (a);

28

In [21]:
a = 3;
a = a+ 3;
print (a);

6

In [22]:
if 1 > 0:
    print ("True");
else:
    print ("False"); 
if 0 < 1:
    print ("True");
else:
    print ("False");
if 1 >= 0:
    print ("True");
else:
    print ("False");

True
True
True

In [28]:
species = "cat";
if species == "cat":
    print ("yep, it's a cat.");
else:
    print ("Nope, not cat.");

yep, it's a cat.

In [32]:
if donut_condition == "fresh":
    print ("buy_score = 10");
elif donut_price == "low":
    print ("buy_score = 5");
else:
    print ("buy_score = 0");

buy_score = 10

In [35]:
if donut_condition == "fresh":
    print ("buy_price += 10");
else:
    print ("buy_score -= 10");
donut_filling ="chocolate";
if donut_filling == "chocolate":
    print ("it's delicious");
else:
    print ("it's not delicious");
donut_price = "reasonable";
if donut_price == "reasonable":
    print ("the price are reasonable");
else:
    print ("the price are not reasonable");

buy_price += 10
it's delicious
the price are reasonable

In [43]:
weight = 300;
time = 5;
if weight >= 300 and time < 6:
    print ("try to recruit them");
else:
    print ("not recruitable");

try to recruit them

In [45]:
age = 26;
height = 70;
if age > 27 and height < 72:
    print ("try to recruit them");
else:
    print ("not recruitable");

not recruitable

In [50]:
Sat = 950;
Avg = 900;
Gpa = 2.5;
if Sat > Avg or Gpa > 2.5:
    print ("Welcome to Leeds College!");
else:
    print ("not elligible");

Welcome to Leeds College!

In [55]:
age = 70;
age = 22;
resident = "U.K";
if age > 65 or age < 21 and resident == "U.K":
    print ("Resident of U.K");
else:
    print ("Not the resident of U.K");

Not the resident of U.K

In [56]:
# This is a comment
# This is another commment
print ("Hello, World!");

Hello, World!

In [58]:
first_name = "Asad";
last_name = "Suleman";
interest = "Learning Python";
if first_name == "Asad":
    print ("Welcome to Pakistan");
if last_name == "Suleman":
    print ("Welcome to Pakistan");
if interest == "Learning Python":
    print ("Welcome to Pakistan");

Welcome to Pakistan
Welcome to Pakistan
Welcome to Pakistan

In [59]:
city_0 = "Australia";
city_1 = "Pakistan";
city_2 = "Newzealand";
city_3 = "England";
city_4 = "Atlanta";
city_5 = "Chicago";
city_6 = "Los Angeles";
print (city_0+", "+city_1+","+city_2+","+city_3+","+city_4+","+city_5+","+city_6)

Australia, Pakistan,Newzealand,England,Atlanta,Chicago,Los Angeles